.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .popup {
    background-color: #143a30;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .popup-content {
    margin-top: 20px;
  }
  
  .open-popup-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #002fff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
    max-width: 350px;
  }
  
  .open-popup-button:hover {
    background-color: #0056b3;
  }
  
.input-box{
    position: relative;
    margin: 30px 0;
    width: 100%;
    height: 50px;
    background-color: #aaaaaa;
    border-radius: 40px;
    padding: 10px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #ffffff;
}

h3{
    color: #fff;
    font-size: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.listepanel{
    display: inline-block;
    background: linear-gradient(to bottom, #003038 0%, #01a6ab 50%, #003038 100%);
    width: 900px;
    height: 600px;
    user-select: none;
    border-radius: 10px;
    margin-top: 30px;
    text-align: center;
    overflow-y: auto;
    margin-left: 300px;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
    padding: 0;
  }

.li1{
    color:#ffffff;
    background-color: #1b3b47;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    border: 1px solid rgb(255, 255, 255);
    transition: all 0.3s ease;
    font-size: 16px;
    width: 97.5%;
    height: 6vh;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-radius: 5px;
    padding: 8px;
}

.edit-button,
.delete-button,
.show-button
{
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.edit-button {
    background-color: #4caf50;
    color: white;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }

  .show-button {
    background-color: #9111ec;
    color: white;
  }

  .show-button:hover{
    transition: 0.3s;
    background-color: #6d015b;
  } 
  .edit-button:hover{
    transition: 0.3s;
    background-color: darkgreen;
  } 
  .delete-button:hover{
    transition: 0.3s;
    background-color: darkred;
  }

  .poliklinik-ad {
    flex-grow: 1;
    margin: 10px;
    font-weight: bold;
  }

  .doctor-count {
    margin-block: auto;
    color:rgb(255, 255, 255);
  }

  .buttons {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 20%;
    top: 65%;
  }

  .button{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 700;
  }

  .back-button {
    background-color: #cb9ced;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .back-button:hover {
    background-color: #a66fcb;
  }
  
  .addDoc-button {
    background-color: #e9b98f;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .addDoc-button:hover {
    background-color: #c79a5b;
  }

  .addPol-button {
    background-color: #da5166;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    right: -780px;
    position: relative;
    top: 8px;
  }
  
  .addPol-button:hover {
    background-color: #c83a56;
  }

  .reportShowType{
    font-weight: bold;
    margin-right: 10px;
  }

  .reportShowStart{
    margin-left: 10px;
    margin-right: 10px;
  }

  .reportShowEnd{
    margin-left: 10px;
  }
  
  #baslikyazi2{
    color: lightgray;
    top: 8px;
    position: relative;
  }