.grid {
    justify-content: center;
    gap: 18px;
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 20px;
  }
  
  .polycard {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.3s;
    max-width: 350px;
    height: 500px;
    background-color: rgb(0, 136, 255);
    border-radius: 10px;
    margin-left: 10px;
    border: 3px solid black;
  }
  
  .polycard img {
    width: 100%;
    height: 65%;
    border-bottom: 1px solid black;
  }
  
  .polycard-title {
    text-align: center;
    margin: 0;
    padding: 16px 0 8px;
  }
  
  .polycard-text {
    text-align: center;
    padding: 0 16px 16px;
  }
  
  .polycard.selected {
    border-color: rgba(21, 255, 0, 0.623); /* Seçili kartın kenarlık rengi */
  }
  
  .polycard:hover .polycard__overlay {
    opacity: 1;
  }
  
  .polycard__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .polycard:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
  }
  
  .polycard:active {
    transform: scale(0.95);
    transition: transform 0.3s;
  }

  .appointment-form{
    display: flex;
    background-color: #3AAFA9;
    width: 750px;
    margin: auto;
    margin-bottom: 80px;
    height: 600px;
    border: 3px solid black;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
  }

  #doktoradih2{
  color: white;
  margin: 10px 0;
  }

  #polikadih2{
    color: white;
    margin: 10px 0;
  }

  #tarihdivi{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
  }

  #tarihbutonu{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
  }

  #tarihbutonu:hover{
    transition: 0.3s;
    background-color: gray;
  }

  .appointment-list{
    margin-top: 20px;
    width: 700px;
    height: 500px;
  }

  #doktordonus{
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin-left: 35px;
    font-size: 16px;
    font-weight: 700;
  }

  #doktordonus:hover{
    transition: 0.3s;
    background-color: darkgray;
    cursor: pointer;
  }

#saatlistesi li{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    max-width: 140px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 5px;
}

#saatlistesi ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 10px;
  margin-bottom: 5px;
}

#saatlistesi li:hover{
  transition: 0.3s;
  background-color: darkgray;
  cursor: pointer;
}

.AppCard-times{
  align-items: center;
}

.AppCard-date{
  text-align: center;
}

.doccard {
  overflow: hidden;
  border: 3px solid black;
  cursor: pointer;
  transition: border-color 0.3s;
  width: 400px;
  height: 500px;
  background-color: aliceblue;
  border-radius: 10px;
  margin-left: 10px;
}

.doccard img {
  width: 100%;
  height: 75%;
  border-bottom: 2px solid black;
}

.doccard-title {
  text-align: center;
  margin: 0;
  padding: 16px 0 8px;
}

.doccard-text {
  text-align: center;
  padding: 0 16px 16px;
}

.doccard.selected {
  border-color: rgba(21, 255, 0, 0.623);
}

.doccard:hover .doccard__overlay {
  opacity: 1;
}

.doccard__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.doccard:hover{
  transform: scale(1.05);
  transition: transform 0.3s;
}

.doccard:active {
  transform: scale(0.95);
  transition: transform 0.3s;
}

.doccard-name{
  text-align: center;
}

.doccard-polyclinicName{
  text-align: center;
}

#polybutton3{
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
  margin-left: 35px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  top: -20px;
  right: 15px;
}

#polybutton3:hover{
  cursor: pointer;
  transition: 0.3s;
  background-color: darkgray;
}

.doctorlistul{
  display: flex;
  margin-bottom: 10px;
}

.time-slot.deActive {
  background-color: gray !important;
  color: white !important; 
  border: 2px solid red !important;
  pointer-events: none;
}