.mapstyle{
    width: 350px;
    height: 350px;
    margin-top: 50px;
    left: 50px;
    position: relative;
    border-radius: 50%;
    border: 10px solid #25274D;
}

.build{
    margin-top: 130px;
    width: 800px;
    height: 400px;
    display: flex;
    margin-left: 360px;
    border: 10px solid #25274D;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 15%;
}

#contact-adres{
    position: relative;
    max-width: 900px;
    left: 450px;
    bottom: 300px;
    margin-bottom: -100px;
}