.mapstyle{
    width: 350px;
    height: 350px;
    margin-top: 50px;
    left: 50px;
    position: relative;
    border-radius: 50%;
    border: 10px solid #25274D;
}

.build{
    margin-top: 130px;
    width: 800px;
    height: 400px;
    display: flex;
    margin-left: 360px;
    border: 10px solid #25274D;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 15%;
}

#yazi1{
    color: black;
    display: inline;
    position: relative;
    left: 350px;
    top: -300px;
}

#yazi2{
    display: inline;
    position: relative;
    left: -200px;
    top: -250px;
}

#yazi6{
    display: inline;
    position: relative;
    left: 430px;
    top: -250px;
}

#yazi3{
    display: inline;
    position: relative;
    left: -287.5px;
    top: -200px;
}

#yazi4{
    display: inline-block;
    position: relative;
    left: -680px;
    top: -160px;
}

#yazi5{
    display: inline;
    position: relative;
    left: 455px;
    top: -150px;
}