body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.news-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 20px;
    margin: 20px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.news-content {
    flex: 1;
    padding-right: 20px;
}

.news-content h2 {
    margin-top: 0;
    color: #333;
}

.news-content p {
    color: #555;
    margin: 10px 0;
}

.news-button {
    display: inline-block;
    padding: 10px 15px;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.news-button:hover {
    background: #0056b3;
    transition: 0.3s;
}

.news-image img {
    max-width: 150px;
    border-radius: 5px;
}

#navbaruzaklas{
    margin-top: 100px;
}