.body1{
    margin: 0;
    padding-top: 0px;
    font-family: "Poppins", sans-serif;
    min-height: 103vh;
}

.hero {
    position: relative;
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url('background-image.jpg') no-repeat center center/cover;
    color: white;
    height: 70vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.hero-content {
    max-width: 37%;
}

.hero h1 {
    font-size: 3em;
    margin: 0 0 20px;
}

.hero p {
    font-size: 1.5em;
    margin: 0 0 20px;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 7.5px;
    transition: background-color 0.3s ease;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

.hero-button:hover {
    background-color: #0056b3;
}

.hero-image img {
    padding-top: 65px;
    max-height: 625px;
    max-width: 1000px;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .hero-content, .hero-image {
        max-width: 100%;
        margin: 20px 0;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1.2em;
    }
}

.specialties-container {
    text-align: center;
}

.title {
    color: #1e90ff;
    font-size: 1.5rem;
    margin: 0;
}

.subtitle {
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.grid-item {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1rem;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
    text-align: center;
}

.grid-item:hover {
    background: #e0e0e0;
    transform: translateY(-5px);
}

.grid-item img {
    max-width: 100%;
    height: 50px;
}

.grid-item p {
    margin: 0.5rem 0 0;
    font-size: 1rem;
}

.grid-item.selected {
    background: #1e90ff;
    color: #fff;
}

.grid-item.selected img {
    filter: brightness(0) invert(1);
}