.news-item{
    background-image: url("./src/assets/blackdoctor.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    min-height: 500px;
    min-width: 1920px;
    display: flex;
    justify-content: left;
    align-items: bottom;
    text-align: left;
}

.news-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}